*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

.successContainer{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#36d1dc,#5b86e5);
}

.successCard{
background:white;
padding:40px;
width:380px;
text-align:center;
border-radius:10px;
box-shadow:0px 10px 25px rgba(0,0,0,0.2);
}

.successIcon{
width:70px;
height:70px;
background:#4CAF50;
color:white;
font-size:35px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
margin:0 auto 20px auto;
}

.successCard h1{
margin-bottom:10px;
color:#333;
}

.successCard p{
color:gray;
margin-bottom:25px;
}

.loginBtn{
padding:12px 25px;
border:none;
background:#4CAF50;
color:white;
font-size:16px;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

.loginBtn:hover{
background:#3e8e41;
}